.itemDetailContainer{
  height: auto;
  
}



.itemDetail__pictureContainer {
  height: 400px;
  position: relative;
}

.itemDetail__picture{
  height: 100%;
  object-fit: contain;
  z-index: 100;
  border-radius: 10px;
  position: relative;
  background: url(https://assets.materialup.com/uploads/a7e6009b-6d69-4569-b1ee-0e01b234f2a1/preview.gif) no-repeat center center ;
  
}

.itemDetail__pictureBackground{
  position:absolute;
  left: -40px;
  top: 50px;
  background-color: #682c1a;
  border-radius: 10px;
  height: 400px;
  width: 480px;

}