@media (min-width: 320px) {
  .input--mod{
    width: 300px;
  }
}

@media (min-width: 768px) {
  .input--mod{
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .input--mod{
    width: 350px;
  }
}

@media (min-width: 1440px) {
  .input--mod{
    width: 500px;
  }
}