.aboutUs{
  box-shadow: 0px 0px 20px 2px rgba(104, 44, 26, 0.116);
  border-radius: 10px;
  margin-top: 20px;
}

.aboutUs-picture{
  background: url(https://assets.materialup.com/uploads/a7e6009b-6d69-4569-b1ee-0e01b234f2a1/preview.gif) no-repeat center center ;
}